<head>
    <meta charset="UTF-8">
    <title> Responsive Contact Us Form | CodingLab </title>
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<app-header></app-header>

<body>
    <div class="container">
        <div class="content">
            <div class="left-side">
                <div class="phone details">
                    <i class="fas fa-phone-alt"></i>
                    <div class="topic">Telefonos</div>
                    <div class="text-one">+0098 9893 5647</div>
                    <div class="text-two">+0096 3434 5678</div>
                </div>
                <div class="email details">
                    <i class="fas fa-envelope"></i>
                    <div class="topic">Email</div>
                    <div class="text-one">ejemplo@gmail.com</div>
                    <div class="text-two">ejemplo@gmail.com</div>
                </div>
            </div>
            <div class="right-side">
                <div class="topic-text">Envianos un mensaje</div>
                <p>Si necesitas contactarte con nosotros puedes utilizar algunas de las siguiente opciones</p>
                <form action="#">
                    <div class="input-box">
                        <input type="text" placeholder="Ingresa tu nombre">
                    </div>
                    <div class="input-box">
                        <input type="text" placeholder="Ingresa tu correo">
                    </div>
                    <div class="input-box">
                        <input type="text" style="height: 150%;" placeholder="Detalla tu consulta">
                    </div><br>
                    <div class="button">
                        <input type="button" value="Enviar">
                    </div>
                </form>
            </div>
        </div>
        <!-- <div class="text-center">
            <p class="topic-text" style="margin: 5%">Encuentranos tambien en nuestras redes</p>
            <img class="imagenes" src="../../../assets/images/instagram.jpeg" alt="">
            <img class="imagenes" src="../../../assets/images/salvaventura.jpeg" alt="">
        </div> -->
    </div>
</body>