<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NavBar</title>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
</head>

<div>
    <p-sidebar [(visible)]="sidebarVisible" [style]="{ width: '5%', 'background-color': '#676F54' }">
        <div class="sidebar">
            <ul class="nav-list">
              <li>
                <a href="/home">
                  <i class='bx bx-home'></i>
                  <span class="links_name">Home</span>
                </a>
                <span class="tooltip">Home</span>
              </li>
              <li>
                <a [routerLink]="['/aventuras']">
                  <i class='bx bx-globe'></i>
                  <span class="links_name">Aventuras</span>
                </a>
                <span class="tooltip">Aventuras</span>
              </li>
              <li>
                <a href="/">
                  <i class='bx bx-user'></i>
                  <span class="links_name">Contactos</span>
                </a>
                <span class="tooltip">Contactos</span>
              </li>
              <li>
                <a href="/home" style="position: absolute; bottom: 0">
                  <i class='bx bx-map'></i>
                  <span class="links_name">Encuentranos</span>
                </a>
              </li>
            </ul>
          </div>       
    </p-sidebar>
    <p-button (click)="sidebarVisible = true" icon="pi pi-bars" [style]="{ color: 'black', 'background-color': 'white', 'border': 'none', 'margin':'1%'}"></p-button>
</div>