<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Camping Gear Website | CodingNepal</title>
    <link rel="stylesheet" href="../home/home.component.css">

</head>

<body>
    <app-header></app-header>

    <section class="homepage" id="home">
        <div class="content">
            <div class="text">
                <h1>¡BIENVENIDO A SALVAVENTURA!</h1>
                <p>Conecta con la naturaleza y vive una experiencia unica</p>
            </div>
            <div class="button-container">
                <a href="#aboutus">Sobre Nosotros</a>
                <a href="#aventuras">Actividades</a>
                <a href="#location">Encuentranos</a>
            </div>
        </div>
    </section>

    <section class="format" id="aboutus">
        <aside class="half-section" style="background-color: #a8af8dd2;">
            <h2 class="title-section" style="font-size: 450%;">SOBRE NOSOTROS</h2><br>
        </aside>
        <aside class="half-section" style="background-color: #676F54;">
            <p style="font-size: 150%;">SalvAventuras es un grupo de profesionales Lic en educación física, especialistas en actividades de
                aventura y servidores de turismo activo. Nace como una propuesta NOVEDOSA Y UNICA en Jujuy ante las
                posibilidades de AVENTURA que brinda la provincia. Es una empresa INCLUSIVA, pionera en unir
                Discapacidad y aventura, nos respaldan 13 años de trayectoria en expediciones y travesias, además de
                rescates y colaboraciones en eventos deportivos.</p>
        </aside>
    </section>


    <section class="format" id="aventuras">
        <aside class="half-section" style="background-color: #676F54;">
            <p style="font-size: 150%;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis atque unde, accusamus ipsam harum
                inventore accusantium illo eaque illum earum cupiditate maiores totam ipsa. Exercitationem sit eligendi
                nobis est asperiores.</p>
        </aside>
        <aside class="half-section text-end" style="background-color: #a8af8dd2;">
            <h2 style="font-size: 450%;">VIVE NUEVAS AVENTURAS</h2><br>
        </aside>
    </section>

    <section class="format" id="location">
        <aside class="half-section" style="background-color: #a8af8dd2;">
            <h2 class="title-section" style="font-size: 450%;">¿DONDE ESTAMOS?</h2><br>
        </aside>
        <aside class="half-section" style="background-color: #676F54;">
            <p style="font-size: 150%;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae sunt voluptates harum distinctio exercitationem unde corporis, molestias voluptatum totam eveniet excepturi nobis earum rem ab doloremque. Nostrum quis sed ut.</p>
        </aside>
    </section>

</body>

</html>