@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

app-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    /* Valor alto para asegurar que se muestre por encima del resto */
}

footer a {
    margin-left: 40px;
    text-decoration: none;
    color: #fff;
    height: 100%;
    padding: 20px 0;
    display: inline-block;
}

header a:hover,
footer a:hover {
    color: #ddd;
}

.homepage {
    height: 100vh;
    width: 100%;
    position: relative;
    background: url("../../../assets/images/Yunga-en-jujuy.jpg");
    background-position: center 65%;
    background-size: cover;
    background-attachment: fixed;
}

.homepage::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
}

.homepage .content {
    display: flex;
    height: 85%;
    z-index: 3;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.homepage .content h1 {
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 10px;
}

.homepage .content .text {
    margin-bottom: 50px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.content a {
    color: #000;
    display: block;
    text-transform: uppercase;
    font-size: 15px;
    margin: 5px;
    padding: 10px 30px;
    border-radius: 5px;
    background: #fff;
    border: 2px solid #fff;
    transition: 0.4s ease;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    text-decoration: none;
}

.content a:hover {
    color: #fff;
    background: #676F54;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.button-container a {
    margin: 5px;
}

section {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 80px 0 0;
}

section h2 {
    font-size: 2rem;
}

section>p {
    text-align: center;
}

section .cards {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin-top: 50px;
    padding: 0 10px;
    justify-content: space-between;
}

section.about {
    margin: 0 auto;
    max-width: 1200px;
}

.about .company-info {
    margin-top: 30px;
}

.about h3 {
    margin: 30px 0 10px;
}

.about .team {
    text-align: left;
    width: 100%;
}

.about .team ul {
    padding-left: 20px;
}

section .cards .card {
    background: #fff;
    padding: 40px 15px;
    list-style: none;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.04);
    margin-bottom: 40px;
    width: calc(100% / 3 - 30px);
    text-align: center;
}

.format {
    padding: 0;
    margin: 0;
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: row;
}

.half-section {
    color: white;
    margin: 0;
    padding: 2%;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-section {
    font-family: 'Manrope', sans-serif;
    display: flex;
    align-items: center;
    background-color: var(--accent-color);
    color: white;
    text-transform: uppercase;
    font-weight: 400;
}

